altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.12
deezer-python==4.3.0
fbs==1.0.3
future==0.18.2
idna==3.3
macholib==1.15.2
pefile==2021.9.3
PyInstaller==3.4
PySide2==5.15.2.1
pywin32-ctypes==0.2.0
requests==2.27.1
shiboken2==5.15.2.1
urllib3==1.26.8
